body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

<<<<<<< HEAD
=======
textarea {
    height: 90vh;
    width: 80%;
}

>>>>>>> 7dd0e5fce470c98764fecb4223a73821664844fe
.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
<<<<<<< HEAD
}
=======
}

.suggestions {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

>>>>>>> 7dd0e5fce470c98764fecb4223a73821664844fe
