{% extends "encyclopedia/layout.html" %}

{% block title %}
   confirmation
{% endblock %}

{% block body %}
   <form action="{% url 'delete' entry_name=entry_title %}" method="post">
     {% csrf_token %}
     <p>Are you sure you want to delete {{ entry_title }}?</p>
     <input type="hidden" name="confirm" value="true">
     <button type="submit">Confirm</button>
   </form>
   <form action="{% url 'entry' title=entry_title %}" method="get">
    <button type="submit">Cancel</button>
   </form>
{% endblock %}