{% extends "encyclopedia/layout.html" %}

{% block title %}
   entry
{% endblock %}

{% block body %}
<div>
  {{ content|safe }}
</div>
    {%for index in entries%}
      <p>{{index}}</p>
    {%endfor%}
    {% if message %}
    <div class="error">{{ message }}</div>
    {% endif %}
      <a href="{% url 'edit' title=entry_title %}">Edit</a>
      <form action="{% url 'delete' entry_name=entry_title %}" method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
      </form>
{% endblock %}